body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  text-align: justify;
}
h1 {
  font-size: 50px;
}
.red {
  color: red;
}
.gray {
  color: gray;
}
.flexible {
  display: flex;
  margin-bottom: 150px;
}
.recipe {
  color: gray;
  text-align: center;
}
.Near {
  margin-top: -160px;
  margin-bottom: 100px;
}
.Close {
  padding-right: 200px;
  padding-left: 200px;
}
.Top_Middle_Bottom_Near {
  margin-top: -80px;
}
.list {
  color: gray;
  text-align: center;
  margin-bottom: 150px;
}
.list_add {
  background-image: linear-gradient(rgb(250, 145, 97), rgb(46, 71, 182));
  text-align: justify;
  color: wheat;
}
.button {
  text-decoration: none;
  background-image: linear-gradient(red, Pink);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.Bottom {
  width: 50%;
  margin-left: 25%;
  text-align: center;
  margin-bottom: 150px;
}
.Middle-banner {
  background-image: url(images/shapes/Red_Frame.jpg);
  background-repeat: no-repeat;
  width: 95%;
  margin-left: 2%;
}
.Middle img {
  width: 100%;
  margin: 40px;
}
.Middle {
  width: 80%;
  margin-left: 2%;
  padding-right: 6%;
}
.Top img {
  width: 80%;
  margin: 40px;
}
.Top {
  width: 80%;
  padding-left: 6%;
  padding-right: 6%;
  margin-top: 80px;
}
.Menu {
  width: 93%;
  margin-left: 20px;
  margin-right: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px gray;
}
#Food {
  margin: 40px;
}
#TimeTable {
  text-align: center;
  margin-bottom: -60px;
  margin-left: 100px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 4px 4px 4px 4px chocolate;
  background-color: salmon;
  border-radius: 20px;
}
#Social_Media {
  text-align: center;
  margin-top: -15px;
  margin-bottom: -15px;
  padding-left: 150px;
  padding-right: 100px;
}
footer {
  background-color: black;
  text-align: center;
  color: white;
  padding: 20px;
  margin-top: -100px;
}
